data
datadir
venv
.*~
*~
.ipynb_checkpoints
npy
archived_data
datadir*
prevgen_*
rep.jpg
model_params.json
model_params.json
foper_archived_data
foperdir
npyfoper
npyfoper_full
fopernpy
rep_tmp.jpg
rep.jpg
